.iconGlow{
    transition: filter 0.3s ease;
}
.iconGlow:hover{
    filter: drop-shadow(0 0 60px #8962ff);
 
    transform: scale(1.1);
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.aboutIcons{
    margin-top: -150px;
  }


