body{
  background: rgb(56, 56, 56);
}
.boop {
  position: relative; /* Add relative positioning to the container */
  font-size: 60px;
  width: 1700px;
  color: transparent;
  overflow: hidden; /* Hide overflowing content */
}

.boop {
  position: relative;
  font-size: 60px;
  width: 1700px;
  color: transparent;
  overflow: hidden;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #3156e8, #9d16df);
  transition: background-image 3s ease, color 3s ease; 
}
.boop:hover {
  color: #8962ff; /* Set the final text color on hover */
  background-image: linear-gradient(180deg, #9d16df, #3156e8);
  transition: background-image 3s ease, color 3s ease; 
}
.noteText{
  font-size: 30px;
  background-image: linear-gradient(80deg, #c579eb, #5e7bf1);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other content */
  }

.video{
    object-fit: cover;
}

.emailText{
    display: flex;
    justify-content: center;
    padding-left: 250px;
 
}