.formText {
  font-size: 40px;
  color: transparent;
  overflow: hidden;
  -webkit-background-clip: text;
  background-image: linear-gradient(210deg, #3156e8, #9d16df);
  transition: background-image 3s ease, color 3s ease;
}
.formText:hover{
    color: #8962ff;
    background-image: linear-gradient(210deg, #9d16df, #3156e8);
    transition: background-image 3s ease, color 3s ease;
}
.textBox{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #8962ff;
    background-color: #1f1f1f;
    color: #8962ff;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.formButton{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #8962ff;
    background-color: #1f1f1f;
    color: #8962ff;
    font-size: 20px;
    margin-bottom: 10px;
}

.emailText {
  display: flex;
  justify-content: center;
  padding-left: 250px;
}

.modalStyle .modal-content{

  background-color: black;
}
.modalText{
  color: transparent;
  overflow: hidden;
  -webkit-background-clip: text;
  background-image: linear-gradient(210deg, #3156e8, #b852a1);
  transition: background-image 3s ease, color 3s ease; 
}
.modalText:hover{
  color: #8962ff;
  background-image: linear-gradient(210deg, #b852a1, #3156e8);
  transition: background-image 3s ease, color 3s ease; 
}

