.nav-link, .navbar-brand {
    color: rgb(70, 70, 216) !important;
    font-size: 5rem;
  }
  .nav-link:hover, .navbar-brand:hover{
      color: #8962ff !important;
      text-shadow: 0 0 5px rgba(137, 98, 255, 0.7);
  }
  .nav-link{
      font-size: 2rem;
      margin-top: 13px;
  }
  .nav-link:hover{
      color: #8962ff !important;
  }
  .nav-link:active{
      color: #8962ff !important;
  }

  .dot{
      color: #3156e8;
      margin-top: 26px;
      font-size: 2rem;
  }
